---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="Home | Fitness Life">
  <section
    class="hero bg-hero-pattern bg-no-repeat bg-cover h-[90vh] text-white"
  >
    <Navbar />
    <!-- <div>
      <span>Welcome to</span>
      <h1>Fitness Life</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
        consequatur a, voluptas nisi officia, explicabo nihil illum facere
        impedit quo accusamus, ipsum delectus in ad ea cupiditate similique
        deleniti voluptatem!
      </p>
      <button>Join Now!</button>
    </div> -->
  </section>
</Layout>
